src/serviceCore/nCode/workflows/ncode_semantic_search.json
{
  "name": "nCode Semantic Code Search Automation",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 9
            }
          ]
        }
      },
      "id": "schedule_trigger",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:18003/health",
        "options": {}
      },
      "id": "check_ncode_health",
      "name": "Check nCode Health",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [450, 300]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.status}}",
              "value2": "ok"
            }
          ]
        }
      },
      "id": "check_if_healthy",
      "name": "Check If Healthy",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300]
    },
    {
      "parameters": {
        "url": "http://localhost:18003/v1/index/load",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "index_path",
              "value": "={{$json.index_path || 'index.scip'}}"
            }
          ]
        },
        "options": {}
      },
      "id": "load_scip_index",
      "name": "Load SCIP Index",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [850, 200]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "search_queries",
              "value": "=[\n  \"authentication functions\",\n  \"database connection\",\n  \"error handling\",\n  \"API endpoints\",\n  \"user management\"\n]"
            }
          ]
        },
        "options": {}
      },
      "id": "define_search_queries",
      "name": "Define Search Queries",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "batchSize": 1,
        "options": {}
      },
      "id": "split_queries",
      "name": "Split Queries",
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "jsCode": "const queries = JSON.parse($input.item.json.search_queries);\nconst currentBatch = $input.context.currentRunIndex;\nreturn { query: queries[currentBatch] };"
      },
      "id": "get_current_query",
      "name": "Get Current Query",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1450, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:8007/embed",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{$json.query}}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate_embedding",
      "name": "Generate Query Embedding",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1650, 200]
    },
    {
      "parameters": {
        "url": "http://localhost:6333/collections/code_symbols/points/search",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "vector",
              "value": "={{$json.embedding}}"
            },
            {
              "name": "limit",
              "value": 10
            },
            {
              "name": "with_payload",
              "value": true
            }
          ]
        },
        "options": {}
      },
      "id": "semantic_search_qdrant",
      "name": "Semantic Search (Qdrant)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1850, 200]
    },
    {
      "parameters": {
        "jsCode": "const results = $input.item.json.result;\nconst query = $input.item.json.query;\n\nconst formatted = results.map(r => ({\n  query: query,\n  symbol: r.payload.symbol,\n  file: r.payload.file,\n  language: r.payload.language,\n  kind: r.payload.kind,\n  score: r.score,\n  documentation: r.payload.documentation || 'N/A'\n}));\n\nreturn formatted;"
      },
      "id": "format_search_results",
      "name": "Format Search Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [2050, 200]
    },
    {
      "parameters": {
        "operation": "aggregate",
        "aggregate": "aggregateAllItemData",
        "options": {}
      },
      "id": "aggregate_all_results",
      "name": "Aggregate All Results",
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [2250, 200]
    },
    {
      "parameters": {
        "operation": "toJson",
        "options": {}
      },
      "id": "convert_to_json",
      "name": "Convert to JSON",
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1,
      "position": [2450, 200]
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "ncode_search_results_{{$now.format('yyyy-MM-dd_HH-mm')}}.json",
        "options": {}
      },
      "id": "save_to_file",
      "name": "Save Results to File",
      "type": "n8n-nodes-base.writeFile",
      "typeVersion": 1,
      "position": [2650, 200]
    },
    {
      "parameters": {
        "operation": "create",
        "resource": "issue",
        "repositoryOwner": "={{$json.repo_owner}}",
        "repositoryName": "={{$json.repo_name}}",
        "title": "Code Search Report: {{$now.format('yyyy-MM-dd')}}",
        "body": "# nCode Semantic Search Results\\n\\nGenerated: {{$now.format('yyyy-MM-dd HH:mm')}}\\n\\nSee attached JSON file for complete results.\\n\\n## Summary\\n- Total queries: {{$json.total_queries}}\\n- Total matches: {{$json.total_matches}}\\n- Average score: {{$json.average_score}}",
        "labels": ["code-intelligence", "automated"]
      },
      "id": "create_github_issue",
      "name": "Create GitHub Issue (Optional)",
      "type": "n8n-nodes-base.github",
      "typeVersion": 1,
      "position": [2850, 200],
      "disabled": true
    },
    {
      "parameters": {
        "message": "nCode health check failed. Server may be down.",
        "additionalFields": {}
      },
      "id": "send_error_notification",
      "name": "Send Error Notification",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [850, 400]
    },
    {
      "parameters": {
        "url": "http://localhost:18003/v1/symbols",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "file",
              "value": "={{$json.file}}"
            }
          ]
        },
        "options": {}
      },
      "id": "get_file_symbols",
      "name": "Get File Symbols (Parallel)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 400],
      "disabled": true
    },
    {
      "parameters": {
        "url": "http://localhost:7687",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpBasicAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "query",
              "value": "MATCH (s:Symbol {name: '{{$json.symbol}}'})-[r:REFERENCES|CALLS*1..2]-(related:Symbol) RETURN related.name, related.kind, type(r)"
            }
          ]
        },
        "options": {}
      },
      "id": "query_memgraph_relationships",
      "name": "Query Memgraph (Call Graph)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2050, 500],
      "disabled": true
    },
    {
      "parameters": {
        "url": "http://localhost:5000/api/v1/jobs/runs",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "namespace",
              "value": "ncode"
            },
            {
              "name": "job",
              "value": "code_search_automation"
            },
            {
              "name": "runId",
              "value": "={{$now.toISO()}}"
            },
            {
              "name": "eventType",
              "value": "COMPLETE"
            },
            {
              "name": "inputs",
              "value": "=[{\"namespace\": \"ncode\", \"name\": \"scip_index\"}]"
            },
            {
              "name": "outputs",
              "value": "=[{\"namespace\": \"ncode\", \"name\": \"search_results\"}]"
            }
          ]
        },
        "options": {}
      },
      "id": "track_lineage_marquez",
      "name": "Track Lineage (Marquez)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [2850, 300]
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Check nCode Health",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check nCode Health": {
      "main": [
        [
          {
            "node": "Check If Healthy",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check If Healthy": {
      "main": [
        [
          {
            "node": "Load SCIP Index",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Error Notification",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load SCIP Index": {
      "main": [
        [
          {
            "node": "Define Search Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Define Search Queries": {
      "main": [
        [
          {
            "node": "Split Queries",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Queries": {
      "main": [
        [
          {
            "node": "Get Current Query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Current Query": {
      "main": [
        [
          {
            "node": "Generate Query Embedding",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Query Embedding": {
      "main": [
        [
          {
            "node": "Semantic Search (Qdrant)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Semantic Search (Qdrant)": {
      "main": [
        [
          {
            "node": "Format Search Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Search Results": {
      "main": [
        [
          {
            "node": "Aggregate All Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate All Results": {
      "main": [
        [
          {
            "node": "Convert to JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to JSON": {
      "main": [
        [
          {
            "node": "Save Results to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save Results to File": {
      "main": [
        [
          {
            "node": "Track Lineage (Marquez)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "nCode",
      "id": "ncode-workflow"
    },
    {
      "name": "Code Intelligence",
      "id": "code-intelligence"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-18T00:00:00.000Z",
  "versionId": "1.0.0"
}
