src/serviceIntelligence/serviceN8n/n8n-workflows/meta-orchestrator.json
{
  "name": "Feature Engineering Meta-Orchestrator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "orchestrate-feature",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Feature Request Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [250, 300],
      "webhookId": "orchestrate-feature",
      "notes": "Receives feature engineering requests with n8n workflow JSON"
    },
    {
      "parameters": {
        "url": "={{ $env.LEAN4_PARSER_URL }}/n8n-to-md",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "workflow_json",
              "value": "={{ $json.body.workflow_json }}"
            }
          ]
        },
        "options": {}
      },
      "id": "convert-to-md",
      "name": "Convert n8n to Markdown",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [470, 300],
      "notes": "Calls Lean4 Parser to convert n8n workflow to markdown specification"
    },
    {
      "parameters": {
        "url": "={{ $env.LEAN4_PARSER_URL }}/generate",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "markdown",
              "value": "={{ $json.markdown }}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-code",
      "name": "Generate Feature Code",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [690, 300],
      "notes": "Generates Go code, Lean4 proofs, and SCIP specs from markdown"
    },
    {
      "parameters": {
        "functionCode": "// Convert Go to Rust\nconst goCode = items[0].json.go_code;\nconst featureName = items[0].json.feature_name;\n\n// Simple Go to Rust conversion\nlet rustCode = goCode\n  .replace(/package features/g, '')\n  .replace(/import \\(/g, 'use actix_web::{web, HttpResponse, Result};\\nuse serde::{Deserialize, Serialize};')\n  .replace(/type /g, '#[derive(Debug, Serialize, Deserialize)]\\npub struct ')\n  .replace(/func Handle/g, 'pub async fn handle_')\n  .replace(/\\(ctx \\*context.APIContext\\)/g, '() -> Result<HttpResponse>');\n\nreturn [{\n  json: {\n    ...items[0].json,\n    rust_code: rustCode\n  }\n}];"
      },
      "id": "convert-to-rust",
      "name": "Convert to Rust",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [910, 300],
      "notes": "Converts generated Go code to Rust for serviceGitea"
    },
    {
      "parameters": {
        "url": "={{ $env.SERVICE_N8N_URL }}/scip-to-langflow",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "scip_json",
              "value": "={{ $json.scip_spec }}"
            },
            {
              "name": "feature_name",
              "value": "={{ $json.feature_name }}"
            }
          ]
        },
        "options": {}
      },
      "id": "generate-langflow",
      "name": "Generate Langflow Workflow",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 200],
      "notes": "Converts SCIP specification to Langflow workflow JSON"
    },
    {
      "parameters": {
        "url": "={{ $env.SERVICE_N8N_URL }}/deploy/gitea",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "feature_name",
              "value": "={{ $json.feature_name }}"
            },
            {
              "name": "rust_code",
              "value": "={{ $json.rust_code }}"
            },
            {
              "name": "lean4_proofs",
              "value": "={{ $json.lean4_proofs }}"
            },
            {
              "name": "scip_spec",
              "value": "={{ $json.scip_spec }}"
            }
          ]
        },
        "options": {}
      },
      "id": "deploy-gitea",
      "name": "Deploy to serviceGitea",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.1,
      "position": [1130, 400],
      "notes": "Deploys generated Rust code to serviceGitea/features/"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "status",
              "value": "completed"
            },
            {
              "name": "feature_name",
              "value": "={{ $('Feature Request Webhook').item.json.body.feature_name }}"
            },
            {
              "name": "gitea_deployment",
              "value": "={{ $json.deployment_path }}"
            },
            {
              "name": "langflow_workflow",
              "value": "={{ $('Generate Langflow Workflow').item.json.workflow }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "id": "prepare-response",
      "name": "Prepare Response",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.2,
      "position": [1350, 300],
      "notes": "Formats the final response with all deployment paths"
    },
    {
      "parameters": {},
      "id": "webhook-response",
      "name": "Return Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1570, 300],
      "notes": "Returns completion status to caller"
    }
  ],
  "connections": {
    "Feature Request Webhook": {
      "main": [
        [
          {
            "node": "Convert n8n to Markdown",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert n8n to Markdown": {
      "main": [
        [
          {
            "node": "Generate Feature Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Feature Code": {
      "main": [
        [
          {
            "node": "Convert to Rust",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to Rust": {
      "main": [
        [
          {
            "node": "Generate Langflow Workflow",
            "type": "main",
            "index": 0
          },
          {
            "node": "Deploy to serviceGitea",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Langflow Workflow": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Deploy to serviceGitea": {
      "main": [
        [
          {
            "node": "Prepare Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Response": {
      "main": [
        [
          {
            "node": "Return Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "meta-orchestration",
      "id": "meta"
    },
    {
      "name": "feature-engineering",
      "id": "eng"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2026-01-09T00:00:00.000Z",
  "versionId": "1"
}
